{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

  <div class="padding">
    <div class="title">
      <h1><strong>The Ben Folks Experience</strong></h1>
    </div>


    <div class="row startsection">

      <div class="col-md-6 col-xs-12">
        <a href="#">
          <img class="img-circle" src="{% static 'mainproj/misc/pictureme1.jpg' %}"
          alt="Error loading content.  Surely you don't blame the site developer."/>
        </a>
        <div class="caption">
          <p></p>
          <p>Ben Folks, Visual Approximation</p>
        </div>
      </div>

      <div class="col-md-6 col-xs-12">

        <div class="greeting">
          <p>For the select few of you who arrived at this website intentionally, my name is Ben Folks,
          and I am an Aerospace-Software engineer.</p>
        </div>

        <div class="caption">
          <p>For the remaining majority, I think you meant to go here:
            <a href="https://www.benfolds.com/" target="_blank">www.benfol<strong>d</strong>s.com</a></p>
        </div>

        <div class="greeting">
          <p>I graduated in 2011 from the University of Illinois at Urbana-Champaign
          with a Bachelor of Science in Aerospace Engineering.</p>
        </div>

      </div>

    </div>
  </div>

{% endblock %}

{% block mainproj %}

  <div class="main">
    <div class="container padding">

      <div class="sectionheader">
        <p>About the Site</p>
      </div>

      <div class="intro">

        <p>
          Nowadays, in the era of Facebook, Instagram, and LinkedIn, there is no shortage of personal profile sites that can
          be found online.  At times, it seems as though an unending pestilence of them are mercilessly being spewed across the World Wide Web.
          In a poetic sort of irony, each profile is built by someone who, in a futile attempt to separate him/herself from the rest of the pack,
          ends up creating the same brand of content as everyone else.  A grim state of affairs indeed...
        </p>

        <p>
          This website, of course, will be no exception!!!  It is my own attempt to cram one more self-congratulatory
          bio page into the Internet's already bloated warehouse of contrived personal profiles.
        </p>

        <p>
          So feel free to page through my short <span class="important-bio-text"><a href="#slideshow-anchor">slideshow</a></span> below.
          It gives a (very) brief overview of my professional work experience, as well as a more in depth look at a
          few hobbies/projects I have been working on outside of my full-time job.  Also, you can check out my aviation/flight planning website live
          <span class="important-bio-text"><a href="http://bfolks2.pythonanywhere.com/" target="_blank">here</a></span>
          (or by clicking on the tiny airplane logo in the navbar), which is another small side project I have put together.
          Lastly, go to the <span class="important-bio-text"><a href="{% url 'mainapp:documents' %}">Documentation</a></span>
          section of this site for my Resume and Certifications.
        </p>

      </div>

      <div class="sectionheader slideshow-top">
        <p>Ben Folks:  The Slideshow</p>
      </div>

      <div id="slideshow-anchor"></div>

      <div class="slideshow-area">
        <div id="slide-page-1" class="slide-page initial-inline">
          <img src="{% static 'mainproj/misc/slideshow/summary.png' %}" alt="">
        </div>
        <div id="slide-page-2" class="slide-page initial-none">
          <img src="{% static 'mainproj/misc/slideshow/esprit.png' %}" alt="">
        </div>
        <div id="slide-page-3" class="slide-page initial-none">
          <img src="{% static 'mainproj/misc/slideshow/redshelf.png' %}" alt="">
        </div>
        <div id="slide-page-4" class="slide-page initial-none">
          <img src="{% static 'mainproj/misc/slideshow/adthrill1.png' %}" alt="">
        </div>
        <div id="slide-page-5" class="slide-page initial-none">
          <img src="{% static 'mainproj/misc/slideshow/adthrill2.png' %}" alt="">
        </div>
        <div id="slide-page-6" class="slide-page initial-none">
          <img src="{% static 'mainproj/misc/slideshow/adthrill3.png' %}" alt="">
        </div>
        <div id="slide-page-7" class="slide-page initial-none">
          <img src="{% static 'mainproj/misc/slideshow/adthrill4.png' %}" alt="">
        </div>
        <div id="slide-page-8" class="slide-page initial-none">
          <img src="{% static 'mainproj/misc/slideshow/adthrill5.png' %}" alt="">
        </div>
        <div id="slide-page-9" class="slide-page initial-none">
          <img src="{% static 'mainproj/misc/slideshow/pilot.png' %}" alt="">
        </div>
      </div>

      <div class="slideshow-buttons">
        <div id="prev-container">
            <button id="prev-button" class="page-button" onclick="prevPage()" disabled><<< Previous</button>
        </div>
        <div id="next-container">
            <button id="next-button" class="page-button" onclick="nextPage()">Next >>></button>
        </div>
      </div>

    </div>
  </div>


{% endblock %}

{% block footer %}

  <div class="footer">
    <div class="container padding">
      <!--<div class="inspire">-->
        <!--<button class="btn btn-default" type="button">Insta-Inspiration</button>-->
      <!--</div>-->

      <!--<h3 class="quote">-Click the button above to be inspired-</h3>-->

      <div class="copyright">
        <p>© 2019 <br>
        Ben Folks and Associates</p>
      </div>
    </div>
  </div>

{% endblock %}
