.navbar-inverse {
  background-color: #253247;
}

.title{
  font-family: 'Permanent Marker', cursive;
}

.jumbotron{
  padding-top: 23px;
  padding-bottom: 10px;
}

.jumbotron p{
  font-size: 1.25em;
}

.navbar-collapse .navbar-nav li a{
  color: white; /*Change active text color here*/
  font-size: 1.25em;
  font-family: 'Russo One', sans-serif;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  line-height: 1.5em;
  text-align: center;
}

.navbar-collapse .navbar-nav li a:hover{
  color: #bdbfc1;
}

.navbar-header .navbar-toggle:hover {
  background-color: #bdbfc1;
}

.fa{
  font-size: 25px;
}

.startsection{
  padding-top: 25px;
  padding-bottom: 50px;
}

.img-circle{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 10px 10px 5px #b4b6ba;
}

.greeting{
  padding-top: 20px;
  font-size: 1.5em;
}

.caption{
  font-size: 1.0em;
  font-style: italic;
  font-weight: lighter;
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding{
  text-align: center;
  padding-left: 3.0em;
  padding-right: 3.0em;
}

.descheader{
  padding-left: 1.7em;
  font-weight: bold;
}

.descbody{
  font-size: 1.25em;
  padding-left: 3.0em;
  padding-right: 3.0em;
}

.main{
  padding-top: 25px;
  background-color: #e3e8ed;
}

.glyphicon{
  color: #f9f493;
}

.glyphicon:hover{
  color: #c4bf97;
}

.sectionheader{
  font-size: 1.5em;
  font-weight: bolder;
}

.newsite{
  /*font-weight: 900;
  font-size: 1.05em;*/
}

.intro{
  font-size: 1.25em;
}

.inspire{
  padding-top: 25px;
  padding-bottom: 15px;
}

.btn-default{
  background-color: #af1005;
  color: white;
  font-weight: bold;
  width: 150px;
  height: 75px;
  border-radius: 5%;
}

.btn-default:focus{
  background-color: #af1005;
  color: white;
  font-weight: bold;
  width: 150px;
  height: 75px;
  border-radius: 5%;
}

.footer{
  background: linear-gradient(#e3e8ed,#81a3db)
}

.copyright{
  font-size: 0.85em;
  font-style: italic;
  font-weight: lighter;
  padding-top: 15px;
  padding-bottom: 5px;
}

.document{
  padding-bottom: 25px;
}

.thumbnail{
  width: 250px;
  height: 312px;
}

.listitem{
  font-size: 1.25em;
}

body{
  font-family: 'Open Sans',sans-serif;
  background-color: #f9f9f9;
  padding-top: 100px;
}
