{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

  <div class="document-holder">
    <div class="skill-icon col-md-6 col-xs-12">
      <a href="{% url 'mainapp:resume-pdf' %}" class="thumbnail">
        <img src="{% static 'mainproj/misc/thumbnail1.jpg' %}" alt="Resume Viewer">
      </a>
    </div>

    <div class="skill-icon col-md-6 col-xs-12">
      <a href="{% url 'mainapp:pilot-pdf' %}" class="thumbnail">
        <img src="{% static 'mainproj/misc/faa_logo.jpg' %}" alt="Pilot License Viewer">
      </a>
    </div>

    <div class="skill-icon col-md-6 col-xs-12">
      <a href="{% url 'mainapp:sw-pdf' %}" class="thumbnail">
        <img src="{% static 'mainproj/misc/solidworkslogo.jpeg' %}" alt="SolidWorks Certifcate Viewer">
      </a>
    </div>

    <div class="skill-icon col-md-6 col-xs-12">
      <a href="{% url 'mainapp:scrum-pdf' %}" class="thumbnail">
        <img src="{% static 'mainproj/misc/scrumlogo.png' %}" alt="Scrum Certificate Viewer">
      </a>
    </div>
  </div>

{% endblock %}
