{% extends 'base.html' %}
{% block content %}
  <h2 class="descheader">{{skill_detail.name}}</h2>
  <div class="descbody">
    <p>{{skill_detail.description}}</p>
    {% if skill_detail.name == 'Python' or skill_detail.name == 'Django' %}
      <p>
        I have also developed <a href="http://bfolks2.pythonanywhere.com/">another website</a>, which is focused more
        heavily on Python/Django functionality, as well as Django Rest Framework and Ember.js.
      </p>
    {% endif %}
    {% if skill_detail.slug == 'emberjs' %}
      <p>
        Also, in my spare time, I created another <a href="http://bfolks2.pythonanywhere.com/">DRF/Ember.js application</a>
        that displays real-time aviation information.
      </p>
    {% endif %}
  </div>
{% endblock %}
